.container {
    align-content: center;
    background-color: #0168b5;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    justify-content: center;
    left: 0px;
    padding: 0px 16px;
    position: relative;
    top: 0px;
    width: 100vw;
}